.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background: url('../../assets/login-barckground.gif'); */
    position: relative;
    background: linear-gradient(-20deg, #030303, #626262, #664b95,
    #8a4bd7, #d87cde,#cb75d3);
    background-size: 300%;
    animation: animated_text 6s ease-in-out infinite;
    -moz-animation: animated_text 6s ease-in-out infinite;
    -webkit-animation: animated_text 6s ease-in-out infinite;
}

@keyframes animated_text{
    0%{
        background-position: 0px 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0px 50%;
    }
}

.login-card {
    background: #ffffff68;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 15px;
    width: 400px;
    height: auto;
    max-height: 500px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    backdrop-filter: blur(25px) ;
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.75);
}

.login-card h1 {
    /* color: rgb(59, 59, 59); */
    color: #fff;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
    font-size: 48px;
}

.input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.login-card span{
    color: #fff;
    font-size: 16px;
}

.login-card a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}