.login-btn {
    width: 80%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 50px;
    background: #c126f5ba;
    font-size: 25px;
    margin-bottom: 1.5rem;
    color: rgb(62, 62, 62);
    transition: all .3s ease-in-out;
    
}

.login-btn:hover {
    background: #8c1db1;
    color: #dbdada;
}